@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/fonts.css */
@font-face {
  font-family: 'October';
  src: url('./fonts/OCTOBER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'October', sans-serif;
  background-color: #1e1e1e;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #1e1e1e;
  }
  button {
    background-color: #9be13c;
  }
}
